.App {
  text-align: center;
}

.kone{
  width: 10%;
  height: 10%;
  top: 4%;
  right: 2%;
  position: absolute;
  z-index: 7;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #150042;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.OccupiedContainer{
position: relative;

}

.legend{
position: absolute;
width: 20%;
height :37%;
right: 3%;
top: 52%;


}

.epsoo{
  position: relative;
  /* max-width: 75%;
   height: auto;  
  max-height: 10%;  */
  top : -0px ;
   width : 1150px;
  height :650px;
 /* width: 100%;
 height: 100%;   */
}
.occupied{
  top :243px;
  left : 701px;
  width: 32px;
  height : 38px;
  z-index: 2;
  position: absolute;
}


.occupied1{
  
  top :282px;
  left : 705px;
  width: 33px;
  height : 35px;
  z-index: 2;
  position: absolute;
}

.occupied2{
  top :322px;
  left : 708px;
  width: 33px;
  height : 35px;
  z-index: 2;
  position: absolute;
}


.occupied3{
  top :365px;
  left : 712px;
  width: 33px;
  height : 35px;
  z-index: 2;
  position: absolute;
}

.occupied4{
  top :240px;
  left : 759px;
  width: 33px;
  height : 35px;
  z-index: 2;
  position: absolute;
}

.occupied5{
  top :278px;
  left : 763px;
  width: 34px;
  height : 36px;
  z-index: 2;
  position: absolute;
}

.occupied6{
  top :317px;
  left : 769px;
  width: 36px;
  height : 37px;
  z-index: 2;
  position: absolute;
}

.occupied7{
  top :361px;
  left : 773px;
  width: 35px;
  height : 37px;
  z-index: 2;
  position: absolute;
}

.occupied8{
  top :260px;
  left : 571px;
  width: 33px;
  height : 35px;
  z-index: 2;
  position: absolute;
}

.occupied9{
  top :310px;
  left : 571px;
  width: 33px;
  height : 35px;
  z-index: 2;
  position: absolute;
}


.occupied10{
  top :348px;
  left : 571px;
  width: 33px;
  height : 35px;
  z-index: 2;
  position: absolute;
}

.occupied11{
  top :384px;
  left : 571px;
  width: 33px;
  height : 35px;
  z-index: 2;
  position: absolute;
}

.occupied12{
  top :422px;
  left : 571px;
  width: 33px;
  height : 35px;
  z-index: 2;
  position: absolute;
}

.occupied13{
  top :460px;
  left : 571px;
  width: 33px;
  height : 35px;
  z-index: 2;
  position: absolute;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
